@page "/admin/changePassword"
@using System.Diagnostics;
@using FinalCoffee1.Modules.Admin.model
@using FinalCoffee1.Modules.Admin.service;
@using FinalCoffee1.common.helperServices;
@inject AdminService adminService
@inject SessionService sessionService;

<h3>Change Password</h3>
<EditForm Model="@adminModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p class="@messageClass">@this.message</p>
    <InputText id="password" @bind-Value="adminModel.Password" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private AdminModel adminModel = new AdminModel();
    string message = "";
    string messageClass = "";
    private async Task HandleValidSubmit()
    {
        int id = sessionService.getId();
        var result = await adminService.Edit(id, adminModel, "admin.json");
        if (result.Success)
        {
            message = result.Message;
            messageClass = "success-message";
        }
        else
        {
            message = result.Message;
            messageClass = "fail-message";
        }
    }
}